<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".GestureProbeActivity" android:exported="true" />
        <service android:name=".GestureProbeService" android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/gesture_probe_service" />
        </service>
    </application>
</manifest>
